{% extends '_header.html' %}

{% block content %}
	<div class="col-12" style="font-family: 'Sacramento', cursive;">
		<h1 class="text-center" style="margin-top:10%;">Endless Notes</h1>
		<h4 class="text-center" style="margin-bottom:5%">Where notes never ends ...</h4>
	</div>

	<div class="col-12">
		<form action="{% url 'note_delete' note.id %}" method="post">
		  {% csrf_token %}
		  <div class="form-group">
		    <label for="notetitle">Note Title</label>
		    <input type="text" class="form-control" name="txtTitle" value="{{ note.title }}" id="notetitle" aria-describedby="notetitle" placeholder="Title">
		  </div>
		  <div class="form-group">
		    <label for="notebody">Note Body</label>
		    <textarea class="form-control" id="notebody" rows="3">{{ note.note }}</textarea>
		  </div>
		  <input type="submit" value="Delete" class="btn btn-outline-success">
		  <a href="{% url 'note_list' %}" class="btn btn-outline-danger">Cancel</a>
		</form>
	</div>
{% endblock content %}