{% extends '_header.html' %}

{% block content %}

<div class="col-12" style="font-family: 'Sacramento', cursive;">
	<h1 class="text-center" style="margin-top:10%;">Endless Notes</h1>
	<h4 class="text-center">Where notes never ends ...</h4>
	<h4 class="text-center" style="margin-bottom:5%">
		<a href="{% url 'note_create' %}">
			Create a note ...
		</a>
	</h4>
</div>

<table class="table table-hover text-center">
  <thead class="thead-default">
    <tr>
      <th class="text-center">#</th>
      <th class="text-center">.title</th>
      <th class="text-center">.note</th>
      <th class="text-center">.operations</th>
    </tr>
  </thead>
  <tbody>
    {% for note in note_list %}
    	<tr>
	      <th class="text-center">{{ note.id }}</th>
	      <td class="text-center">{{ note.title }}</td>
	      <td class="text-center">{{ note.note }}</td>
	      <td class="text-center">
	      	<a href="{% url 'note_delete' note.id %}" class="text-danger" style="padding:5%">
	      		<i class="material-icons">cancel</i>
	      	</a>
	      	<a href="{% url 'note_update' note.id %}" class="text-warning" style="padding:5%">
	      		<i class="material-icons">gesture</i>
	      	</a>
	      </td>
	    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}